<app-header></app-header>

<div class="container">
  <br>
  <h4>
    <img src="./assets/img/GIFProgramacion.png" width="40" height="40" title="Módulo Maestro"
         style="background-color: #3c97dd;"/> Reporte de Programación Personal de Acciones
  </h4>
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <label>Periodo:</label>
      <select [(ngModel)]="id_ciclo" class="form-control form-control-sm form-inline w-100" name="id_ciclo"
              (change)="getAllReporte()">
        <option
          *ngFor="let ciclo of lista_ciclo"
          value="{{ ciclo.id }}">
          {{ ciclo.anio }}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <label>Etapa:</label>
      <select [(ngModel)]="id_etapa" class="form-control form-control-sm mb-3" name="id_etapa"
              (change)="getAllReporte()">
        <option
          *ngFor="let etapa of lista_etapa"
          value="{{ etapa.id }}">
          {{ etapa.nombre }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Centro de Costo:</label>
      <select [(ngModel)]="id_centro_costo" class="form-control form-control-sm" (change)="getAllReporte()"
              name="id_organo">
        <option
          *ngFor="let organo of lista_organo"
          value="{{ organo.id }}">
          {{ organo.nombre }}
        </option>
      </select>
    </div>
    <div class="col-md-12" *ngIf="lista_ugp!=null">
      <button *ngIf="flagbtn" class="btn  btn-sm btn-success float-right" (click)="exportAsXLSX()">
        Exportar Tabla <i class="fas fa-file-excel"></i>
      </button>
      <button *ngIf="!flagbtn" class="btn btn-success btn-sm float-right" type="button"
              (click)="exportAsXLSX()"
              disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
        Descargando...
      </button>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="lista_ugp == null">
    <div class="col-md-12">
      <div _ngcontent-yme-c5="" class="progressBar">
        <div _ngcontent-yme-c5="" class="progress mt-3 text-right" style="height: 20px; margin: 0 auto">
          <div _ngcontent-yme-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
               class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
               style="width: 100%"></div>
        </div>
        <h6 class="mt-3">
          Procesando Consulta de Programación...
        </h6>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="cantidad_lista == 0">
    <div class="col-md-12">
      No hay datos para mostrar
    </div>
  </div>
  <div class="row pr-2" *ngFor="let item_ugp of lista_ugp">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" style="color: #006DDC;">
          UGP: {{ item_ugp.nombre }}
        </div>
      </div>
      <div class="row" *ngFor="let item_producto of item_ugp.lista_producto">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12" style="color: #006DDC;">
              Producto: {{ item_producto.nombre }}
            </div>
          </div>
          <div class="row" *ngFor="let item_accion of item_producto.lista_accion">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  Acción: {{ item_accion.nombre }}
                </div>
                <div class="col-md-12">
                  Objetivo: {{ item_accion.OBJETIVO }}
                </div>
                <div class="col-md-12">
                  Estandar de acción: {{ item_accion.ESTANDAR_ACCION }}
                </div>
                <div class="col-md-12">
                  Verificación: {{ item_accion.MEDIO_VERIFICACION }}
                </div>
              </div>
              <div class="row mt-2"></div>
              <div class="row" style="font-weight:bold; color:gray;">
                <div class="col-md-1">
                  Código
                </div>
                <div class="col-md-3">
                  Plaza Programada
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-1">Ene</div>
                    <div class="col-md-1">Feb</div>
                    <div class="col-md-1">Mar</div>
                    <div class="col-md-1">Abr</div>
                    <div class="col-md-1">May</div>
                    <div class="col-md-1">Jun</div>
                    <div class="col-md-1">Jul</div>
                    <div class="col-md-1">Ago</div>
                    <div class="col-md-1">Set</div>
                    <div class="col-md-1">Oct</div>
                    <div class="col-md-1">Nov</div>
                    <div class="col-md-1">Dic</div>
                  </div>
                </div>
              </div>
              <div class="row" *ngFor="let item_plaza of item_accion.lista_plaza">
                <div class="col-md-1">
                  {{ item_plaza.CODIGO_PLAZA }}
                </div>
                <div class="col-md-3">
                  {{ item_plaza.NOMBRE_PLAZA }}
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-1 text-center" *ngFor="let item_periodo of item_plaza.lista_periodo"
                         [ngStyle]="{'background-color': (item_periodo.porcentaje != 0) ? '#FFE65D': '#E5E8E8' }">
                      {{ item_periodo.porcentaje }}%
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <br>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr/>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
