<app-header></app-header>
<div class="container">
    <br>
    <h4>
        <img src="./assets/img/GIFProgramacion.png" width="40" height="40" title="Módulo Maestro" style="background-color: #3c97dd;" /> Reporte de Marco Lógico
    </h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <label>Centro de Costo:</label>
            <!-- <select [(ngModel)]="id_centro_costo" class="form-control form-control-sm" (change)="getAllReporte()" name="id_organo">
                <option *ngFor="let organo of lista_organo" value="{{ organo.id }}">
                {{ organo.nombre }}
                </option>
            </select> -->
        </div>
    </div>
    <br>
</div>