<app-header></app-header>
<div class="container">
    <br>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h4>
                <img src="./assets/img/GIFProgramacion.png" width="40" height="40" title="Módulo Maestro" style="background-color: #3c97dd;" /> Reporte de Bienes Programados Adicionales
            </h4>
        </div>
        <div class="col-xl-2 col-lg-2 d-none d-lg-block d-xl-block"></div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-warning float-right btn-sm mt-1" data-toggle="modal" data-target="#modalMarcoPresupuestal">
                Total Ejecutado: S/. {{ total_bienes | thousandsPipe}} <i class="fas fa-check-double"></i></button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-1">
            <label>Periodo:</label>
            <select [(ngModel)]="id_ciclo" class="form-control form-control-sm form-inline w-100" name="id_ciclo" (change)="getAllReporte()">
                <option
                    *ngFor="let ciclo of lista_ciclo"
                    value="{{ ciclo.id }}">
                    {{ ciclo.anio }}
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <label>Etapa:</label>
            <select [(ngModel)]="id_etapa" class="form-control form-control-sm mb-3" name="id_etapa" (change)="getAllReporte()">
                <option
                    *ngFor="let etapa of lista_etapa"
                    value="{{ etapa.id }}">
                    {{ etapa.nombre }}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label>UGP:</label>
            <select *ngIf="lista_ugp != null" [(ngModel)]="id_ugp" class="form-control form-control-sm" name="id_ugp" (change)="getAllReporte()">
            <option
                *ngFor="let item_ugp of lista_ugp"
                value="{{ item_ugp.id }}">
                {{ item_ugp.nombre }}
            </option>
            </select>
            <div *ngIf="lista_ugp == null" _ngcontent-yme-c5="" class="progressBar">
                <div _ngcontent-yme-c5="" class="progress mt-1 text-right" style="height: 20px; margin: 0 auto">
                    <div _ngcontent-yme-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <button class="btn btn-success btn-sm float-left" (click)="exportAsXLSX()">
                <i class="fas fa-file-excel"></i> Exportar
            </button>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="lista_bienes == null">
        <div class="col-md-12">
            <div _ngcontent-yme-c5="" class="progressBar">
                <div _ngcontent-yme-c5="" class="progress mt-3 text-right" style="height: 20px; margin: 0 auto">
                    <div _ngcontent-yme-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                </div>
                <h6 class="mt-3">
                    Procesando Consulta de Bienes...
                </h6>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="cantidad_lista == 0">
        <div class="col-md-12">
            No hay datos para mostrar
        </div>
    </div>
    <div class="row" *ngIf="lista_bienes != null">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="tablaPFisica" class="table pb-30 dataTable" style="font-size: 12px;">
                    <thead class="thead-dark bg-blue">
                        <tr>
                            <th class="text-left align-middle" style="width: 350px;">Clasificador</th>
                            <th class="text-left align-middle" style="width: 350px;">Bienes</th>
                            <th class="text-left align-middle" style="width: 350px;">Canal</th>
                            <th class="text-left align-middle" style="width: 350px;">UGP</th>
                            <th class="text-left align-middle" style="width: 350px;">Producto</th>
                            <th class="text-left align-middle" style="width: 350px;">Acción</th>
                            <th class="text-center align-middle width:70px !important">ENE</th>
                            <th class="text-center align-middle width:70px !important">FEB</th>
                            <th class="text-center align-middle width:70px !important">MAR</th>
                            <th class="text-center align-middle width:70px !important">ABR</th>
                            <th class="text-center align-middle width:70px !important">MAY</th>
                            <th class="text-center align-middle width:70px !important">JUN</th>
                            <th class="text-center align-middle width:70px !important">JUL</th>
                            <th class="text-center align-middle width:70px !important">AGO</th>
                            <th class="text-center align-middle width:70px !important">SET</th>
                            <th class="text-center align-middle width:70px !important">OCT</th>
                            <th class="text-center align-middle width:70px !important">NOV</th>
                            <th class="text-center align-middle width:70px !important">DIC</th>
                            <th class="text-center align-middle width:70px !important">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: white; width:700px !important">
                        <tr *ngFor="let item_bienes of lista_bienes ">
                            <td class="text-left align-middle">
                                {{ item_bienes.codigo_clasificador }}
                            </td>
                            <td class="text-left align-middle">
                                {{ item_bienes.nombre_bienes }}
                            </td>
                            <td class="text-left align-middle">
                                {{ item_bienes.nombre_organo }}
                            </td>
                            <td class="text-left align-middle">
                                {{ item_bienes.nombre_ugp }}
                            </td>
                            <td class="text-left align-middle">
                                {{ item_bienes.nombre_producto }}
                            </td>
                            <td class="text-left align-middle">
                                {{ item_bienes.nombre_accion }}
                            </td>
                            <td class="text-center align-middle" style="width:90px !important; text-align: -webkit-center !important" *ngFor="let item_periodo of item_bienes.lista_periodo" [ngStyle]="{'background-color': (item_periodo.monto != 0) ? '#FFE65D': '#E5E8E8' }">
                                {{ item_periodo.monto | thousandsPipe}}
                            </td>
                            <td style="width:90px !important" class="text-center align-middle">
                                {{ item_bienes.monto | thousandsPipe}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>