.selected {
  background-color: #ffe65d !important;
}

.spinner {
  transform: translateZ(0);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-name: spinner-loading
}

@keyframes spinner-loading{
  0% {
    transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
    }
}
