<br>
<div class="container">
    <hr />
    <div class="row">
        <div class="col-8">
            <h6>Se encontraron: {{ cantidad_lista }} registro(s)</h6>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
            <h5>
                <button class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#modalAgregarActividad" (click)="getElemento(null)">
                Agregar Actividad  <i class="fas fa-plus-circle"></i>
            </button>
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover display  pb-30 dataTable">
                    <thead class="thead-dark bg-blue">
                        <tr>
                            <th class="text-center">Codigo</th>
                            <th class="text-left">Nombre</th>
                            <th class="text-left">Producto</th>
                            <th class="text-left">Usuario Registro</th>
                            <th class="text-center">Registro</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: white;">
                        <tr *ngIf="lista_actividad == null">
                            <td colspan="6" class="text-center">
                                <div _ngcontent-yme-c5="" class="progressBar">
                                    <div _ngcontent-yme-c5="" class="progress mt-3 text-right" style="height: 20px; margin: 0 auto">
                                        <div _ngcontent-yme-c5="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                                    </div>
                                    <h6 class="mt-3">
                                        Procesando Consulta...
                                    </h6>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="lista_actividad == []">
                            <td colspan="6">
                                <p class="text-center">No hay datos que mostrar</p>
                                <p></p>
                            </td>
                        </tr>
                        <tr *ngFor="let item of lista_actividad">
                            <td class="text-center">{{ item.codigo }}</td>
                            <td class="text-left">
                                <a style="color: #006DDC; cursor: pointer;" 
                                data-toggle="modal"
                                data-target="#modalAgregarActividad" (click)="getElemento(item)">
                                {{ item.nombre }}
                                </a>  
                            </td>
                            <td class="text-left">{{ item.codigo_producto }} - {{ item.nombre_producto }}</td>
                            <td class="text-left">{{ item.nombre_usuario }}</td>
                            <td class="text-center align-middle">{{ item.fecha_registro }}</td>
                            <td class="text-left align-middle">
                                <span class="label label-{{ item.nombre_estado }}">
                                    {{ item.nombre_estado }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="modalAgregarActividad" #modalAgregarActividad tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Actividad</h5>
                    </div>
                    <div class="modal-body">
                        <form autocomplete="off" #Form_modal="ngForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Producto Presupuestal:</label>
                                        <select class="form-control form-control-sm" name="id_producto" [(ngModel)]="actividad.id_producto" required>
                            <option *ngFor="let item_producto of lista_producto" value="{{ item_producto.id }}">
                                {{ item_producto.codigo }} - {{ item_producto.nombre }}</option>
                            </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Codigo:</label>
                                        <input type="text" class="form-control form-control-sm" name="codigo" maxlength="8" required [(ngModel)]="actividad.codigo" />
                                    </div>
                                    <div class="col-md-9">
                                        <label>Creador:</label>
                                        <input type="text" class="form-control form-control-sm" name="nombre_usuario" disabled="true" [(ngModel)]="actividad.nombre_usuario" />
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Nombre:</label>
                                        <input type="text" class="form-control form-control-sm" name="nombre" [(ngModel)]="actividad.nombre" />
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Estado:</label>
                                        <select class="form-control form-control-sm" [(ngModel)]="actividad.estado" name="estado">
                        <option value="1">Activo</option>
                        <option value="2">Desactivado</option>
                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tipo:</label>
                                        <select class="form-control form-control-sm" [(ngModel)]="actividad.id_tipo" name="tipo">
                            <option value="1">Actividad</option>
                            <option value="2">Acción Inversión</option>
                            <option value="3">Obra</option>
                            </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Fecha Registro:</label>
                                        <input type="text" class="form-control form-control-sm" disabled="true" name="fecha_registro" [(ngModel)]="actividad.fecha_registro" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button #closeModal type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
              Cancelar
            </button>
                        <button type="button" [disabled]="!Form_modal.valid" class="btn btn-sm btn-success" (click)="guardar()">
              Guardar
            </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN DEL MODAL-->
    </div>
</div>